@{
    ViewBag.Title = "My Todo List";
}

<div class="row">
    <h2>My Todo List</h2>
</div>
<div data-bind="visible: showAddItem" class="row">
    <h4>Add new Todo item</h4>
    <form class="form-inline" data-bind="with: newItem">
        <label class="control-label">Description:</label>
        <input type="text" required="required" name="description" id="description" data-bind="value: description" class="form-control" />
        <button type="button" data-bind="click: $parent.addNewItem" class="btn btn-default">Add</button>
    </form>
    <br />
</div>
<div data-bind="visible: showListView" class="row">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Description</th>
                <th>Done</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: items">
            <tr>
                <td data-bind="text: description"></td>
                <td><span><i class="glyphicon glyphicon-check" data-bind="visible: done"></i></span></td>
            </tr>
        </tbody>
    </table>
</div>

@section scripts
{
    <script>
        var apiSettings = {
            baseUrl: '@ViewBag.BaseApiUrl',
            authToken: '@ViewBag.AuthToken'
        };
    </script>

    @Scripts.Render("~/bundles/knockout")
    <script src="~/Scripts/todoItems.js"></script>
}
